// Smartphones, iPhone, portrait 480x320 phones

//Less Variables
@mg-top: 80px;
@ff-def: 'Roboto', sans-serif;
@fs-def: 18px;
@fw-def: lighter;

//Less Styles
body, html, h2 {
	font-family: @ff-def;
	font-size: @fs-def;
	font-weight: @fw-def;
}
.no-gutter {
	padding-left : 0; 
	padding-right : 0;
}
body {
	margin-top: 50px;
}

img {
	max-width : 100%;
}

small {
	font-size: 65%;
}

hr {
	border-top: 1px solid #8f8f8f;
	
	&.category {
		border-top : 1px solid #afafaf;
		margin-top: 0;
		margin-bottom: 0;
	}
}

h2 {
	font-size: 40px;
	font-weight: lighter;
	padding-bottom: 45px;
}

h3 {
	font-size: 26px;
	font-weight: lighter;
	text-transform: uppercase;
	color: #007cb7;
	padding-bottom: 5px;
	border-bottom: 1px solid #afafaf;
}

.no-gutter {
	padding-left: 0;
	padding-right: 0;
}

.mg-top-xs {
	margin-top: @mg-top/6;
}

.mg-top-1{
	margin-top: @mg-top/2;
}

.mg-top-2 {
	margin-top: @mg-top;
}

.mg-btm-1 {
	margin-bottom: @mg-top/2;
}

.mg-btm-2{
	margin-bottom: @mg-top;
}

.align-btm {
	position: absolute;
	right: 0;
	bottom: 0;
}

.breadcrumb {
	background-color: transparent;
	font-size: calc(@fs-def - 4px);
	font-weight: lighter;
	
	li+li {
		&:before {
			content:'\00bb';
		}
	}
}

.btn {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.btn-md {
	color : #007cb7;
	background-color : rgba(255,255,255,.45);
	border : 1px solid #007cb7;
	
	&:hover {
		background-color : #007cb7;
		border-color : #007cb7;
		color: white;
	}
}

.btn-lg {
	text-transform : uppercase;
	color : #007cb7;
	font-weight : bold;
	background-color : rgba(255,255,255,.45);
	border : 5px solid;
	border-color : #007cb7;
	
	&:hover {
		background-color : #007cb7;
		border-color : #007cb7;
		color: white;
	}
}

.carousel-caption {
	top: 0;
	bottom: auto;
	padding-top: 5%;
	padding-bottom: 0;
	
	h1 {
		background-color: rgba(255, 255, 255, .5);
		font-size: 4rem;
		font-weight: lighter;
		text-transform: none;
		color: black;
	}
	
	p {
		background-color: rgba(255, 255, 255, .5);
		font-size: 20px;
		font-weight: normal;
		text-transform: none;
		color: black;
	}
}
.carousel-list {
	margin-top : 30px;
	background-color: rgba(255, 255, 255, .5);
	h5 {
		font-size : 18px;
		margin-top : 15px;
		margin-bottom : 15px;
		text-align : center;
	}
	
	p {
		margin-left : 17px;
		margin-bottom : 25px;
	}
	
	ol {
		li {
			margin-bottom : 25px;
		}
	}
	.btn-lg {
		display : block;
		margin-left : 60px;
		margin-bottom : 25px;
		margin-right : 60px;
	}
}
.carousel {
	.carousel-item {
		position: relative;
		background-position: 50%;
	}
}

.navbar-fixed-top {
	background-color : white;
}

.margin {
	margin : 30px 0;
}

.margin-right {
	margin-right : 20px;
}

.margins {
	margin-top: @mg-top;
	margin-bottom: @mg-top;
}

.aft-carousel {
	.margins;
	
	.image {
		min-height : 181px;
	}
	
	p {
		margin-top : 10px;
		text-align : center;
		font-size : 20px;
	}
}
.news-slider {
	background-color : #e8e8e8;
	height : 150px;
}
.after-news-slider {
	background : url(../../images/tree.png) no-repeat;
	background-size : cover;
	.margins;
	
	h2 {
		background-color: rgba(255, 255, 255, .5);
		margin-top : 360px;
		padding: 20px;
	}
	.btn {
		margin-top : 20px;
		margin-bottom : 155px;
	}	
}

.list-reasons {
	.list-i {
		margin-top : 80px;
		
		ul {
			li {
				margin-top : 20px;
				
				span {
					font-family : 'Roboto';
					font-size : 24px;
				}
				
				padding-left : 100px;
				list-style-type : none;
				font-family : 'Roboto';
				font-size : 18px;
				background : url(../../images/span_items.png) no-repeat;
			}
		}
		
		li:nth-child(1){
				margin-top : 0;
				background-position : 3% -5%;
		}
		
		li:nth-child(2){
					background-position : 3% 31%;
		}
		
		li:nth-child(3){
					background-position : 3% 68%;
		}
		
		li:nth-child(4){
				background-position : 3% 105%;
		}
	}
}

.quotes {
	margin-top: @mg-top;
	margin-bottom: @mg-top;
	
	.user-quotes {
		margin-top: @mg-top;
		
		.img-circle {
			border: 5px solid #337ab7;
		}
		
		blockquote {
			border-left : none;
			padding-top: @mg-top/2;
			margin-bottom: 0;
			
			p {
				font-size : 18px;
				text-align : left;
				font-weight: lighter;
			}
			
			.feedback-text {
				font-style: italic;
				
				&:before {
					content: '"';
				}
				
				&:after {
					content: '"';
				}
			}
		}
	}
}

.category-header {
	margin-bottom: 20px;
}

.column-content {
	border: 1px solid #007cb7;
	font-size: calc(@fs-def - 2px);
	line-height: 110%;
	padding: 15px;
	margin-bottom: @mg-top/3;
}

.article-body {
	font-weight: lighter;
}

.container {
	h5 {
		font-size: 18px;
		margin-bottom: 20px;
	}
	
	ul.list {
		padding-left : 0;
		
		li {
			list-style-type : none;
			margin-bottom : 20px;
		}
	}
	
	.item-review {
		float: left;
		
		.category-item {
			float: left;
			margin-top: @mg-top/4;
			margin-bottom: @mg-top/4;
			
			h4 {
				margin-top : 0;
			}
			
			.readmore {
				margin-top: 10px;
				margin-left: 0;
				margin-bottom: 0;
				
				&:a {
					display : inline-block;
					padding-left : 0;
				}
			}
		}
	}
	
	.item-page {
		p {
			margin: 0;
		}
		
		.pad-top-1 {
			padding-top: 10px;
		}
		
		.page-header {
			border-bottom: 0;
			padding-bottom: 0;
			margin: 0;
			
			h2 {
				font-size: 24px;
				font-weight: lighter;
				padding: 0;
				margin: 0;
			}
		}
		
		.nav-tabs {
			margin-top: 50px;
			border-color: #007cb7;
			
			a {
				font-weight: normal;
				border-radius: 0;
				
				&:hover {
					background-color: #007cb7;
					border-bottom-color: #007cb7;
					color: white;
				}
			}
			
			li.active {
				a {
					border-top-color: #007cb7;
					border-left-color: #007cb7;
					border-right-color: #007cb7;
					
					&:hover {
						background-color: white;
						border-bottom-color: transparent;
						color: black;
					}
				}
			}
		}
		
		.tab-content  {
			padding: 20px;
			border-left: 1px solid #007cb7;
			border-right: 1px solid #007cb7;
			border-bottom: 1px solid #007cb7;
			
			.thumb {
				padding: 4px;
			}
		}
	}
}

footer {
	background-color: #f1f1f1;
	padding-top: @mg-top/2;
	margin-top : @mg-top;
	margin-bottom : 0;
		
	.copyright {
		padding-bottom : 20px;
	}
}

.info {
	position : relative ;
	border : 1px solid #bcad99;
	margin-right : -2px;
	margin-bottom : 15px;
	
	.link-block {
		position : relative;
		display : block;
		
		.responsive {
			width : 100%;
		}
	}
	
	.hov-summ {
		height : 100%;
		background-color : #efe4d4;
		opacity : 0.8;
		position : absolute;
		top : 0;
		left : 0;
		display : none;
		
		p {
			font-weight : lighter;
			color : black;
			font-size : 16px;
			padding-left : 15px;
			padding-right : 15px;
		}
	}
	
	h5 {
		font-weight : normal;
		color : #007cb7;
		font-size : 18px;
		padding-top : 15px;
		padding-left : 15px;
		padding-right : 15px;
	}
	
	.bot-title {
		a {
			display : block;
			color : black;
			height : 60px;
			font-weight : bold;
			font-size : 16px;
			padding-left : 20px;
			padding-top : 15px;
			padding-right : 35px;
		}
	}
	
	.button-block {
		display : none;
		
		.btn-md {
			text-transform : uppercase;
			font-weight : bold;
			font-size : 16px;
			border : solid 5px #007cb7;
		}
	}
}

.category-faq {
	a {
		text-transform : uppercase;
		color: #c9c9c9;
		
		&.active, &:hover {
			text-decoration: none;
			color: #007cb7;
		}
	}
	
	[class^='info-tab-'] {
		display: none;
		
		&.active {
			display: block;
		}
	}
}

.pagination {
	li {
		float: left;
		font-weight : lighter ;
		font-size : 18px;
		margin-left: 5px;
		margin-right: 5px;
	
		span, span:hover {
			background-color : #007cb7;
			color : white;
		}
		
		a {
			color: #000;
			
			&:hover {
				color : #007cb7;
			}
		}
		
		&:nth-child(1), &:nth-child(2), &:nth-last-child(1), &:nth-last-child(2)  {
			span {
				visibility : hidden;
			}
			
			a {
				border-radius : 0;
			}
			
			span {
				border-radius : 0;
			}
		}
	}
}