// Smartphones, iPhone, portrait 480x320 phones

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700&subset=latin,latin-ext,cyrillic);


.navbar-fixed-top {
	background-color : white;
}
.margin {
	margin : 30px 0;
}
.margin-right {
	margin-right : 20px;
}
.aft-carousel {
	.image {
		margin-top : 60px;
		min-height : 181px;
	}
	p {
		margin-top : 55px;
		text-align : center;
		font-family: 'Roboto', sans-serif;
		font-size : 20px;
		span {
			color : #007cb7;
		}
	}
}
.news-slider {
	background-color : #e8e8e8;
	height : 150px;
}
.after-news-slider {
	background : url(../../images/tree.png) no-repeat;
	background-size : cover;
	h2 {
		margin-top : 360px;
	}
	.btn {
		margin-top : 20px;
		margin-bottom : 155px;
	}
	
}
.list-reasons {
	.list-i {
		margin-top : 80px;
		ul {
			li {
				margin-top : 20px;
				span {
					font-family : 'Roboto';
					font-color : black;
					font-size : 24px;
				}
				padding-left : 100px;
				list-style-type : none;
				font-family : 'Roboto';
				font-size : 18px;
				background : url(../../images/span_items.png) no-repeat;
			}
		}
		li:nth-child(1){
				margin-top : 0;
				background-position : 3% -5%;
		}
		li:nth-child(2){
					background-position : 3% 31%;
		}
		li:nth-child(3){
					background-position : 3% 68%;
		}
		li:nth-child(4){
				background-position : 3% 105%;
			}
	}
}
blockquote {
	user_sign {
			display : block;
			text-align : left;
			font-weight : normal;
			font-style : italic;
		}
}
.quotes {
		margin-top : 140px;
		h1 {
			font-weight : normal;
		}
		p {
			margin-top : 45px;
			text-align : center;
		}
		.p_quotes {
			img {
				border : 5px solid #007cb7;
			}
			margin-top : 71px;
		}
}
.special {
	margin-top : 150px;
	h2 {
		font-weight : normal;
	}
	.row:nth-child(2) {
		margin-top : 70px;
	}
	span {
			font-weight : bold;
			font-family : 'Roboto';
			font-size : 18px;
			text-align : left;
		}
	
}
.special ul, footer ul {
		margin-top : 20px;
		padding-left : 0;
		li {
			list-style-type : none;
			font-family : 'Roboto';
			font-size : 18px;
			margin-bottom : 20px;
		}
		span {
			font-weight : bold;
			font-family : 'Roboto';
			font-size : 18px;
			text-align : left;
		}
}


footer {
	margin-top : 90px;
	margin-bottom : 0;
	.row {
		margin-top : 20px;
	}
	.is_top {
		font-family : 'Roboto';
		font-size : 18px;
		font-weight : bold;
	}
	
	span {
			font-weight : bold;
			font-family : 'Roboto';
			font-size : 18px;
			text-align : left;
		}
		h5 {
			font-family : 'Roboto';
			font-size : 18px;
		}
		.copyright {
			margin-top : 75px;
			padding-bottom : 20px;
			background-color : #f1f1f1;
			border-top : solid 2px rgb(143,143,143);
	}
	
}