// Tablet, landscape iPad, lo-res laptops ands desktops
.info{
	&:hover {
		.hov-summ {
			display : block;
		}
	
		.bot-title {
			display : none;
		}
		.button-block {
			padding-top : 13px;
			height : 70px;
			display : block;
		}
	}
}

.navbar-default {
	border-bottom: 5px solid #007cb7;
	
	.navbar-nav {
		li {
			a {
				text-transform : uppercase;
				font-size : 18px;
				font-weight : bold;
				color : #007cb7;
				padding-top : 25px;
				padding-bottom : 25px;
				
				&:hover, .active, &:focus {
					background-color : #007cb7;
					color : white;
				}
			}
		}
		
		.open, .active {
			a, a:focus, a:hover {
				background-color : #007cb7;
				color : white;
			}
		}
		
		.dropdown {
			.dropdown-menu {
				background-color : #007cb7;
				border: 0;
				padding : 0;
				
				li {
					 a {
						 text-transform : none;
						 background-color : #007cb7;
						 color : #fff;
						 font-weight: lighter;
						 padding-top : 5px;
						 padding-left : 15px;
						 padding-right: 15px;
						 padding-bottom : 5px;
						 
						 &:hover {
							background-color : white;
							color : #007cb7;
						}
					 }
				}
				
				.open {
						a {
							background-color : white;
							color : #007cb7;
						}
				}
				
				.dropdown-submenu {
					.dropdown-menu {
						background-color : white;
						margin-top: 0;
						
						li {
							a {
								padding-top: 5px;
								padding-left: 15px;
								padding-right: 15px;
								padding-bottom: 5px;
								text-transform : none;
								background-color : white;
								color : #000;
								
								&:hover {
									color : #007cb7;
								}
							}
						}
					}
				}
			}
		}
		
		li.active {
			a {
				background-color : #007cb7;
				color : white;
			}
		}
	}
}